<!DOCTYPE html>
<html>
<head>
   <link rel=stylesheet href="http://codemirror.net/lib/codemirror.css">
   <link rel=stylesheet href="http://codemirror.net/theme/solarized.css">
   <script src="http://codemirror.net/lib/codemirror.js"></script>
   <script src="http://codemirror.net/mode/ruby/ruby.js"></script>
   <style>
     body, html, .content, .CodeMirror {
       margin:  0;
       padding: 0;
       width:  100%;
       height: 100%;
     }

     .currentElement {
       background-color: #00495b; /* solarized dark (#002b36) times 1.7 */
     }

     .CodeMirror {
       padding-top: 1em;
     }
   </style>
</head>

<body>
  <div class="content">
    <div class="stats">
      <div class="time">0:00</div>
      <div class="correct">0</div>
    </div>
    <textarea class="code"><%= @game.fetch(:body) %></textarea>
  </div>

  <script>
    var ast = <%= @game.fetch(:json_ast) %>;
    var callback;

    // Init CodeMirror
    window.cm = (function() {
      'use strict';
      var textArea = document.getElementsByTagName('textarea')[0]
      var cm = CodeMirror.fromTextArea(textArea, {
        lineNumbers:             true,
        theme:                   'solarized dark',
        readOnly:                true,
        cursorBlinkRate:         -1, // hides the cursor
        disableInput:            true,
        showCursorWhenSelecting: false,
        autofocus:               true,
        keyMap:                 {call: function(key) {
          callback(key);
          console.log(key) }}, // took me *forever* to figure this one out >.<
      });

      // example of setting / unsetting a mark, which we are using to highlight code
      var m = cm.markText({line:0, ch:0},{line:0,ch:5},{className: "currentElement"});
      setTimeout(function() { m.clear(); }, 2000);
      return cm;
    })();

    // Init timer
    (function() {
      var start   = new Date();
      var display = document.getElementsByClassName('stats')[0].getElementsByClassName('time')[0];
      function timer() {
        var millisecondsElapsed = new Date() - start;
        var totalSecondsElapsed = parseInt(millisecondsElapsed / 1000);
        var secondsElapsed      = totalSecondsElapsed % 60;
        var minutesElapsed      = parseInt(totalSecondsElapsed / 60);
        var text                = "" + minutesElapsed + ":" + (secondsElapsed > 9 ? parseInt(secondsElapsed / 10) : "0") + (secondsElapsed % 10);
        display.textContent = text;
      }
      setInterval(timer, 1000);
    })();

    (function() {
      var display = document.getElementsByClassName('stats')[0]
                            .getElementsByClassName('correct')[0];
      callback = function(key) { display.textContent = '1'; };
    })();
  </script>
</div>
</body>
</html>
