<!DOCTYPE html>
<html>
<head>
   <link rel=stylesheet href="/css/reset.css">
   <link rel=stylesheet href="/css/synseer/main.css">
   <link rel=stylesheet href="/codemirror/lib/codemirror.css">
   <link rel=stylesheet href="/codemirror/theme/solarized.css">

   <script src="/codemirror/lib/codemirror.js"></script>
   <script src="/codemirror/mode/ruby/ruby.js"></script>
   <script src="/js/jquery.js"></script>
   <script src="/js/synseer.js"></script>

   <style>
     body, html, .content, .layer, .CodeMirror {
       margin:  0;
       padding: 0;
       width:  100%;
       height: 100%;
     }

     .layer {
       display:          table;
       background-color: #002b36;
     }
     .CodeMirror, .side {
       display: table-cell;
       vertical-align: top;
     }
     .CodeMirror {
       padding: 1em;
     }
     .CodeMirror {
       margin-bottom: 0;
     }
     .layer .CodeMirror-scroll {
       /* They try really hard to put this there, so I have to use more specificity
          to remove it. Supposedly this will break things, but when I don't have it,
          it has big white bars (I assume these are scrollbars) along the bottom,
          as if the div were mis-aligned. */
       overflow: hidden !important;
     }

     .currentElement {
       background-color: #00495b; /* solarized dark (#002b36) times 1.7 */
     }
   </style>
</head>

<body>
  <div class="content">

    <div class="icing">
      <div class="stats">
        <div class="time"></div>
        <div class="correct"></div>
        <div class="incorrect"></div>
      </div>
    </div>

    <div class="cake game-board">
      <div class="layer">
        <textarea class="not-code"><%= @game.fetch(:body) %></textarea>
        <div class="side"></div>
      </div>
    </div>

  </div>

  <script>
    window.game = (function() {
      'use strict';

      // init/load the data from localstorage
      var appState = {games: []};
      if(localStorage.appState === undefined)
        localStorage.appState = JSON.stringify(appState);
      else
        appState = JSON.parse(localStorage.appState);

      var Synseer      = require('synseer');
      var KeymapStatus = require('synseer/keymap_status');
      var keymapStatus = new KeymapStatus(document.querySelector('.side'))

      var game = new Synseer.Game({
        codeMirror:      CodeMirror.fromTextArea(
                           document.querySelector('textarea'),
                           {lineNumbers: true, theme: 'solarized dark', autofocus: true, scrollbarStyle: "null"}
                         ),
        statsView:       new Synseer.StatsView(document.querySelector('.stats')),
        ast:             <%= @game.fetch :json_ast %>,
        keyMap:          Synseer.DefaultKeymap,
        onFinished:      function() {
                           // currently this summary does nothing interesting
                           var domFinished = document.createElement("div");
                           domFinished.classList.add("summary");
                           var node = document.createTextNode("This is new.");
                           domFinished.appendChild(node);
                           document.querySelector('body').appendChild(domFinished);

                           // save the data
                           var gameData  = game._stats;
                           gameData.id   = <%= @game.fetch(:id).inspect %>;
                           gameData.name = <%= @game.fetch(:name).inspect %>;
                           appState.games.push(gameData);
                           localStorage.appState = JSON.stringify(appState);
                           // this will send it back to the main page immediately: window.location.pathname = '/';
                         },
        onPossibilities: function(input, possibilities) { keymapStatus.update(input, possibilities); }
      });

      game.init();
      return game;
    })();

    game.start(function() { return new Date() }, setInterval);
  </script>
</div>
</body>
</html>
