<!DOCTYPE html>
<html>
<head>
   <link rel=stylesheet href="http://codemirror.net/lib/codemirror.css">
   <link rel=stylesheet href="http://codemirror.net/theme/solarized.css">
   <script src="http://codemirror.net/lib/codemirror.js"></script>
   <script src="http://codemirror.net/mode/ruby/ruby.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

   <style>
     body, html, .content, .CodeMirror {
       margin:  0;
       padding: 0;
       width:  100%;
       height: 100%;
     }

     .currentElement {
       background-color: #00495b; /* solarized dark (#002b36) times 1.7 */
     }

     .CodeMirror {
       padding-top: 1em;
     }
   </style>
</head>

<body>
  <div class="content">
    <div id="stats">
    </div>

    <textarea class="code"><%= @game.fetch(:body) %></textarea>
  </div>

  <script src="/js/synseer.js"></script>

  <script>
    window.game = (function() {
      'use strict';

      var React     = require('react');
      var ReactDOM  = require('react-dom');
      var Synseer   = require('synseer');
      var component = ReactDOM.render(
        React.createElement(Synseer.Stats, null),
        document.getElementById('stats')
      );

      var game = new Synseer.Game({
        codeMirror: CodeMirror.fromTextArea(
                      document.getElementsByTagName('textarea')[0],
                      {lineNumbers: true, theme: 'solarized dark', autofocus: true}
                    ),
        ast:        <%= @game.fetch :json_ast %>,
        keyMap:     Synseer.DefaultKeymap,
        onFinished: function() {
                      var domFinished = document.createElement("div");
                      domFinished.classList.add("summary");
                      var node = document.createTextNode("This is new.");
                      domFinished.appendChild(node);
                      document.getElementsByTagName('body')[0].appendChild(domFinished);
                      jQuery.post(window.location.pathname, {"game": component.state}); // TODO more global deps
                    }
      });

      game.init();
      return game;
    })();

    game.start(function() { return new Date() }, setInterval);
  </script>
</div>
</body>
</html>
