<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet href="/css/reset.css">
    <link rel=stylesheet href="/css/synseer/main.css">
    <script src="/js/synseer.js"></script>
    <script src="/js/mousetrap.js"></script>
  </head>
  <style>
    .available_games {
      width: 100%;
    }
  </style>
<body>

<div class="content">
  <div class="icing">
    <div class="total_score stats">
      <div class="games_completed"></div>
      <div class="status"></div>
      <div class="correct"></div>
      <div class="incorrect"></div>
      <div class="time"></div>
    </div>
  </div>


  <div class="cake">
    <div class="layer">

      <ul class="available_games">
        <% games.each do |_path, game| %>
          <li class="game">
            <a class="name" href="<%= game.fetch(:path) %>">
              <%= game.fetch(:name) %>
            </a>
            <div class="score" data-id="<%= game.fetch(:id) %>" data-next-game="<%= game.fetch(:next_game) %>">
               <div class="status"></div>
               <div class="correct"></div>
               <div class="incorrect"></div>
               <div class="time"></div>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="side"></div>
    </div> <!-- layer -->

  </div>
</div>

<script>
  'use strict';
  // init/load the data from localstorage
  var appState = {games: []};
  if(localStorage.appState === undefined)
    localStorage.appState = JSON.stringify(appState);
  else
    appState = JSON.parse(localStorage.appState);

  var Synseer = require('synseer');

  // -----  Find best games  -----
  var gamesById = {};
  for(var i=0; i<appState.games.length; ++i) {
    var game = appState.games[i];
    gamesById[game.id] = gamesById[game.id] || game;
    if(game.numIncorrect < gamesById[game.id].numIncorrect)
      gamesById[game.id] = game;
  }


  // -----  Add scores to the games  -----
  var goPrev = function() { /* noop, override this */ };
  var goNext = function() { /* noop, override this */ };

  var forEach = Array.prototype.forEach;
  var scores  = document.querySelectorAll('li.game .score');
  forEach.call(scores, function(domScore) {
    // find the current game
    var view = new Synseer.StatsView(domScore);
    var game = gamesById[domScore.dataset["id"]];

    // update the game with the appropriate data
    if(game) {
      view.setStatus("Completed"); // swap with a class and change the colouring instead?
      view.setNumCorrect(game.numCorrect);
      view.setNumIncorrect(game.numIncorrect);
      view.setDuration(game.duration);

      if(game.id == appState.lastPlayed) {
        var prevLink    = domScore.parentElement.querySelector('a');
        var nextElement = document.querySelector('[data-id="'+domScore.dataset['nextGame']+'"]')
        // var nextElement = nextElement || firstElement;
        var nextLink    = nextElement && nextElement.parentElement.querySelector('a');
        goPrev          = function() { prevLink.click(); };
        goNext          = function() { nextLink && nextLink.click(); };
      }
    } else {
      view.setStatus("Unattempted");
      view.setNumCorrect(0);
      view.setNumIncorrect(0);
      view.setDuration(0);
    }
  });

  // -----  total stats  -----
  var numCorrect     = 0;
  var numIncorrect   = 0;
  var duration       = 0;
  var gamesCompleted = Object.keys(gamesById).length;
  for(var id in gamesById) {
    numIncorrect += gamesById[id].numIncorrect;
    numCorrect   += gamesById[id].numCorrect;
    duration     += gamesById[id].duration;
  }

  var totalStatsView = new Synseer.StatsView(document.querySelector('.total_score'));
  totalStatsView.setNumCorrect(numCorrect);
  totalStatsView.setNumIncorrect(numIncorrect);
  totalStatsView.setDuration(duration);
  totalStatsView.setGamesCompleted(gamesCompleted);

  // -----  Keymap  -----
  var Mousetrap = require('mousetrap');
  var mousetrap = new Mousetrap(document);
  mousetrap.bind('r',     goPrev);
  mousetrap.bind('enter', goNext);

</script>
</body>
</html>
