@import "synseer/palette";

body {
  font-family: sans-serif;
}

.total_score {
  background-color: $color-secondary-2-0;
  color:            $color-primary-4;
  padding:          1em;
  border-bottom:    0.8em solid $color-primary-3;
}

.available_games {
  padding:          1em;
  padding-top:      2em;
  background-color: lighten($color-primary-0, 40%);

  .game {
    margin-bottom: 1em;
    padding:       0.5em;
    color:         $color-primary-4;

    a.name {
      text-decoration: none;
      color:           $color-secondary-2-3;
      font-size:       1.2em;
      font-weight:     bold;
    }
  }
}
