@import "synseer/palette";

body {
  font-family: sans-serif;
  background: lighten($color-primary-0, 40%);
}

.content {
  width:      100%;
  height:     100%;
  display:    table;
}


.icing {
  background:    $color-secondary-2-0;
  color:         $color-primary-4;
  padding:       1em;
  border-bottom: 0.8em solid $color-primary-3;

  .app_name {
    &:before { content: "Synseer"; }
    font-size:     3em;
    font-weight:   bold;
    display:       inline-block;
    padding-right: 0.33em;
  }
  .stats {
    display: inline-block;
    .stat {
      margin-right:  0.5em;
      padding:       0.25em;
      background:    #84B556;
      border-radius: 0.5em;
    }
  }
}

.cake {
  background: lighten($color-primary-0, 40%);
  display:    table-row;
  height:     100%;

  .layer {
    width:   100%;
    display: table;
    & > * {
      display: table-cell;
      vertical-align: top;
    }
  }
}

.keymap_status {
  background: $color-secondary-2-0;
  background: lighten($color-primary-0, 35%);
  margin:     0;
  padding:    1em;
  width:      100%;
  height:     100%;

  .user_entry {
    width:          10em;
    background:     $color-secondary-2-0;
    padding-left:   0.5em;
    padding-right:  0.5em;
    padding-top:    0.25em;
    padding-bottom: 0.25em;
    margin-bottom:  0.5em;
    color:          $color-primary-4;
    height:         1em;
  }

  .potential_entries {
    padding-right: 0.5em;
    .keybinding  { color: mix($color-secondary-2-0, $color-primary-0, 70); }
    .syntax_node { color: $color-primary-4; }
  }
}


.available_games {
  padding:          1em;
  padding-top:      2em;
  width:            100%;
  th {
    text-decoration: none;
    color:           $color-secondary-2-4;
    font-size:       1.2em;
    font-weight:     bold;
    text-align:      left;
    padding-right:   0.5em;
    padding-bottom:  0.25em;
    border-bottom:   2px solid $color-primary-0;
  }
  td {
    padding-right: 1em;
  }
  .game {
    margin-bottom: 1em;
    padding:       0.5em;
    color:         $color-primary-4;
    a.name {
      text-decoration: none;
      color:           $color-secondary-2-3;
      font-size:       1.2em;
      font-weight:     bold;
    }
  }
}
