@import "synseer/palette";

body {
  font-family: sans-serif;
}

.total_score {
  background-color: $color-primary-3;
  color:            $color-primary-1;
  padding:          1em;
  border-bottom:    0.8em solid $color-primary-1;
}

.available_games {
  padding:          1em;
  padding-top:      2em;
  background-color: $color-primary-0;

  .game {
    background-color: $color-secondary-2-0;
    margin-bottom: 1em;
    padding:       0.5em;
    color:         $color-primary-3;
  }
}
